.Hero {
  height: 740px;
  position: relative;
  .solo_span {
    padding-right: 50px;
  }
  #typingEffect {
    span {
      font-weight: 550;
    }
  }
  img {
    position: absolute;
    left: 35%;
    bottom: 10%;
  }
  .heroCopy_wrapper {
    margin-left: 14%;
    margin-top: 10%;
    position: relative;
    z-index: 3;
    h1 {
    font-size: 6.5em;
    }

    h3 {
      font-size: 40px;
      font-weight: 200;
    }
  }
}

@media (max-width: 1350px)  {
  .Hero{
    height: unset;
    padding-bottom: 280px;
    img {
      height: 304px;
      width: 304px;
      left: 50%;
      bottom: 42%;
    }
    .heroCopy_wrapper {
      margin-left: 0% !important;
      margin-top: 48.5% !important;
      .solo_span {
        padding-right: 6px;
      }
      h1 {
      font-size: 2em !important;
      letter-spacing: 3px;
      }
    }
  }
  
}