.ResumeCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2, p {
        font-size: 54px;
        margin: 0;
        font-family: "Albert Sans"
    }
    h2 {
        letter-spacing: 2.7px;
    }
    p {
        font-weight: 400;
    }
}

.blackLinelarge, .blackLinesmall {
    width: 100%;
    height: 1px;
    background: black;
}

.blackLinelarge {
    margin: 80px 0;
}

.blackLinesmall {
    margin: 36px 0;
}

.rightBlockHeader {
    padding-bottom: 100px;
    text-align: right;
} 

.leftBlockHeader {
    padding-top: 250px;
    .blackLine {
        padding: 36px;
    }
}

@media (max-width: 1350px) {
    .resumeBlock {
        h1 {
            font-size: 36px;
            letter-spacing: 2.16px;
            padding-bottom: 40px;
            padding-top: 75px;
        }

        h2, p {
            font-size: 18px;
            letter-spacing: 0.9px;
        }

        .blackLinelarge, .blackLinesmall {
            margin: 18px 0;
        } 
        
        .leftBlockHeader {
            padding-bottom: 0;
        }

        .resumePlace {
            text-align: right;
        }
    }
    
}


