.GifFiddy {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px 180px;
    img {
        border-radius: 100px;
    }
}

@media (max-width: 1350px) {
    .GifFiddy {
        display: flex;
        flex-direction: column-reverse !important;
        padding: 10% 5%;
        .image_container {
            width: 100%;
            margin: auto;
        }
        img {
            border-radius: 73px;
            width: 100%;
        }
        h2 {
            font-size: 24px;
        }
    }
}