nav {
  .navigation_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navChild {
      flex: 0 1 33.33%;
    }
    .navButtonWrapper {
      display: flex;
      justify-content: flex-end;
    }
  }
  ul {
    display: flex;
    width: 45%;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      text-transform: uppercase;
      font-family: "Albert Sans", sans-serif;
      font-size: 36px;
      color: black;
    }
    a {
      text-decoration: none;
    }
  }
  button {
    font-size: 28px;
    text-transform: uppercase;
    font-family: "Albert Sans", sans-serif;
    background: transparent;
    border-radius: 30px;
    padding: 15px
  }
}

.MobileNavbar {
  display: none;
}

.mobileLogo {
  display: none;
}

@media (max-width: 1350px) {
  nav {
    .navigation_wrapper{
      flex-direction: row-reverse;
      .desktopLogo {
        display: none;
      }
      .mobileLogo {
        display: block;
        flex: unset !important;
        z-index: 5;
      }
      ul, div {
        display: none !important;
      }
    }
    
  }
  .MobileNavbar {
    display: block;
    position: absolute;
    background: #D2EFA6;
    height: 100vh;
    top: 0;
    right: -250px;
    z-index: 5;
    padding: 0 35px;
    transition: all 0.5s ease-out;
    .navigation_wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 22px 0;
      svg {
        padding-bottom: 100px;
      }
      ul{
        text-align: right;
        margin: 0;
        li {
          list-style-type: none;
          text-transform: uppercase;
          font-family: "Albert Sans", sans-serif;
          font-size: 18px;
          color: black;
          letter-spacing: 1px;
        }
      }
      
      a {
        text-decoration: none;
      }
    }
    
  }
}